{{define "content_login"}}

<div class="flex items-center justify-center md:p-20 p-6">
	<form class="flex flex-col gap-4" id="login-form">
		<input
			type="email"
			class="w-full sm:w-28 min-w-[100px] px-4 py-3 border border-gray-300 focus:outline-none focus:ring-4 focus:ring-teal-400 transition"
			name="email"
			placeholder="Email"
			required
		/>
		<input
			type="password"
			name="password"
			placeholder="Password"
			required
			class="w-full sm:w-28 min-w-[100px] px-4 py-3 border border-gray-300 focus:outline-none focus:ring-4 focus:ring-teal-400 transition"
		/>
		<button
			type="submit"
			class="bg-teal-500 hover:bg-teal-600 text-white px-4 py-2 rounded font-semibold text-sm shadow-sm transition"
		>
			Login
		</button>
		{{if .Error}}
		<p class="text-red-500">{{.Error}}</p>
		{{end}}
	</form>
</div>
{{end}}
